#playoff-bracket-picks {
   display: grid;
   grid-template-columns: 3fr 3fr 3fr 4fr 3fr 3fr 3fr;
}

.playoff-bracket-game {
   height: 10em;
   width: 1fr;
   border-radius: 1em;
   margin: 0.5em;

   background: white;
   color: black;
   
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
}

.playoff-bracket-team {
   height: 45%;
   width: 96%;
   border-radius: inherit;
   
   display: flex;
   align-items: center;
   border: 1px solid black;
}

.playoff-bracket-team > img {
   height: 100%;
   padding-right: 0.5em;
}

#super-bowl {
   grid-row: 2 / span 4;
   grid-column: 4;
   
   height: 22em;
   border-radius: 1em;
   background: white;
   color: black;
   
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
}

#super-bowl-teams-wrapper {
   height: 40%;
   width: 100%;
   border-radius: inherit;

   display: flex;
   justify-content: space-evenly;
}

.super-bowl-team {
   height: 100%;
   border-radius: inherit;
   
   display: flex;
   flex-direction: column;
   align-items: center;
   border: 1px solid black;
}

.super-bowl-team > img {
   height: 100%;
   padding-right: 0.5em;
}

#super-bowl > input {
   z-index: 5;
}
