#playoff-bracket-leaderboard {
   position: relative;
   margin-top: 1em;
   margin-bottom: 10em;
   width: calc( 100vw - ( 100vw - 100% ) );

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 0.5em;
   font-size: 1.2em;
}

#playoff-bracket-what-if {
   height: 8em;
   width: 100%;
   
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   gap: 1em;
}

.playoff-bracket-what-if-group {
   height: 100%;
}

.playoff-bracket-what-if-button {
   height: 50%;

   display: flex;
   align-items: center;
   justify-content: center;
}

.playoff-bracket-what-if-button > img {
   width: 3em;
}

.playoff-bracket-leaderboard-entry {
   width: clamp(18em, 85vw, 60em);
   border: 1px solid rgba(255, 255, 255, 0.2);
   border-radius: 0.8em;
   background-color: black;

   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   align-items: center;
   justify-items: center;

   overflow: hidden;
   padding-left: 1em;
   padding-right: 1em;

   transition: background-color ease-in-out 200ms,
               border ease-in-out 200ms,
               box-shadow ease-in-out 300ms,
               transform ease-in-out 150ms;
}

.playoff-bracket-leaderboard-entry:hover {
   background-color: rgb(10, 10, 10);
   border-color: rgba(255, 255, 255, 0.5);
   box-shadow: 0 0 8px rgba(255, 255, 255, 0.2);
   transform: scale(1.03);
}

.playoff-bracket-leaderboard-entry:active {
   background-color: rgb(0, 0, 0);
   box-shadow: 0 0 40px rgba(0, 0, 0, 0.7);
   transform: none;

}

.playoff-bracket-leaderboard-entry > h2 {
   font-size: 2em;
}
.playoff-bracket-leaderboard-entry > h2,h3 {
   text-decoration: none;
   user-select: none;
   text-align: center;
}

.playoff-bracket-leaderboard-entry > .name {
   grid-row: 1 / span 2;
   grid-column: 2;
}

.playoff-bracket-leaderboard-entry > .score {
   grid-row: 1;
   grid-column: 3;
   /* Cling to bottom of cell */
   align-self: last baseline;
}

.playoff-bracket-leaderboard-entry > .possible-score {
   color: grey;
   grid-row: 2;
   grid-column: 3;
}

.playoff-bracket-leaderboard-entry > .team-logo {
   width: 3em;
   grid-row: 1 / span 2;
   grid-column: 1;
   text-align: center;
}

@media screen and ( max-width: 768px ) {
   .playoff-bracket-leaderboard-entry > .games-playing > p {
      font-size: 0.7em;
      margin-top: 0.3em;
   }

   #playoff-bracket-what-if {
      height: 12em;
   }

   .playoff-bracket-what-if-button > img {
      width: 2em;
   }
}
