main#conway {
   padding: 10%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.fab-container {
   position: fixed;
   bottom: 8em; /* Adjust the value to control the vertical position */
   left: 50%;
   transform: translateX(-50%);
   z-index: 1; /* Ensures the FAB is overlayed on top of the PixiJS stage */
 }
 
 .fab {
   padding: 0.5em 1em;
   background-color: #0073e6; /* Button background color */
   color: white;
   border: none;
   border-radius: 2em;
   font-size: 24px;
   cursor: pointer;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow effect */
 }