main#home {
   position: relative;
   padding: 0;

   max-width: calc( 100vw - ( 100vw - 100% ) );
   overflow-x: hidden;
}

#home-header {
   font-size: clamp( 20px, 2vw, 28px );

   position: relative;
   margin-top: 1em;
   left: 50%;
   transform: translateX( -50% );
   z-index: 3;

   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   gap: 1em;
}

.home-arrow-icon {
   color: white;
   font-size: 2em;
   cursor: pointer;
}

#home-content {
   position: relative;
   margin-top: 1em;
   left: 50%;
   transform: translateX( -50% );
   z-index: 2;

   /* Removing this border pushes up the projects section too far for some reason */
   /* border: 1px solid transparent; */
}

.section-wrapper {
   position: absolute;
   width: 80vw;
   margin: 1em 0;
   top: 0px;
   left: 50%;
   transform: translateX( -50% );
   padding: 0;
   padding-bottom: 1em;

   font-size: clamp( 14px, 1.2vw, 28px );

   background-color: rgb( 20, 20, 20 );
   border: 1px solid white;
   border-radius: 1em;

   transition: left var( --transition-time, 600ms ) ease-in-out;
}

.hidden-left {
   left: -50%;
}
.hidden-right {
   left: 150%;
}

.unclickable {
   pointer-events: none;
   cursor: default;
   color:rgba( 255, 255, 255, 0.2 );
}

.clickable {
   pointer-events: auto;
   cursor: pointer;
   color: white;
}

/* Background */
#background-pattern {
   height: 100vh;
   width: calc( 100vw - ( 100vw - 100% ) );

   background-image: radial-gradient(
      rgba( 255, 255, 255, 0.1 ) 5%,
      transparent 7%
   );
   background-position: 0% 0%;

   position: fixed;
   left: 0px;
   top: 0px;
   z-index: -1;

   transition: opacity var( --transition-time, 600ms ) ease-in-out,
               background-size var( --transition-time, 600ms ) ease-in-out,
               background-position var( --transition-time, 600ms ) ease-in-out;
}

#background-picture {
   height: 100%;
   width: 100%;

   position: fixed;
   left: 0px;
   top: 0px;
   z-index: -2;
   
   background-image: url( https://images.unsplash.com/photo-1500534623283-312aade485b7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80 );
   background-size: 105vmax;
   opacity: 0.3;

   transition: opacity var( --transition-time, 600ms ) ease-in-out,
               background-size var( --transition-time, 600ms ) ease-in-out,
               background-position var( --transition-time, 600ms ) ease-in-out;
}

@media screen and ( max-width: 768px ) {
   /* Change picture to portrait */
   #background-picture {
      background-image: url( https://images.unsplash.com/photo-1534103362078-d07e750bd0c4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80 );
      background-size: cover;
   }
}