main#home {
   position: relative;
   padding: 0;

   max-width: calc( 100vw - ( 100vw - 100% ) );
   overflow-x: hidden;
}

#home-header {
   font-size: clamp( 20px, 2vw, 28px );
   position: relative;
   margin-top: 1em;
   left: 50%;
   transform: translateX( -50% );
   z-index: 4;
   
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   gap: 1em;
}

#home-title {
   font-family: "Comic sans ms";
   z-index: 5;
}

.home-slider-button {
   color: white;
   fill: white;
   opacity: 0.8;
   font-size: .5em;
   cursor: pointer;
   
   position: fixed;
   z-index: 3;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 1em;
   padding: 1em 0;
   
   width: 12em;
   text-align: center;
   
   background: rgba( 0, 105, 217, 1 );
   border: 1px solid black;
   border-radius: 0.5em;
   
   transition: opacity 200ms ease-in-out,
   transform 200ms ease-in-out,
   box-shadow 200ms ease-in-out;
}
.home-slider-button > svg {
   margin: 0 0 0 0;
   font-size: 1.5em;
}
.home-slider-button > h2 {
   font-family: "Comic sans ms";
   user-select: none;
}
#home-slider-button-left {
   left: -0.3em;
   border-left-width: 0;
   padding-right: 0;
   background: '#0069d9';
   background: linear-gradient( to top left, rgba( 0, 105, 217, 1 ), rgba( 25, 16, 201, 1 ) );
}
#home-slider-button-right {
   right: -0.5em;
   border-right-width: 0;
   padding-left: 0;
   background: '#0069d9';
   background: linear-gradient( to top right, rgba( 0, 105, 217, 1 ), rgba( 25, 16, 201, 1 ) );
}

.unclickable {
   pointer-events: none;
   cursor: default;
   opacity: 0;
}

#home-content {
   position: relative;
   margin-top: 1em;
   z-index: 2;
   width: auto;

   display: flex;
   align-items: flex-start;
   justify-content: center;
   gap: 10%;

   transition: left var( --transition-time, 600ms ) ease-in-out;
}

.section-wrapper {
   position: relative;
   min-width: 90%;
   top: 0;
   padding: 0;
   margin: 1em 0 2em 0;
   border: 1px solid black;

   font-size: clamp( 14px, 1.2vw, 28px );
   border-radius: 1em;
}

/* Background */
#background-pattern {
   height: 100%;
   width: calc( 100vw - ( 100vw - 100% ) );

   background-image: radial-gradient(
      rgba( 255, 255, 255, 0.3 ) 5%,
      transparent 7%
   );
   background-position: 0% 0%;

   position: fixed;
   left: 0px;
   top: 0px;
   z-index: -1;

   transition: opacity var( --transition-time, 600ms ) ease-in-out,
               background-size var( --transition-time, 600ms ) ease-in-out,
               background-position var( --transition-time, 600ms ) ease-in-out;
}

#background-picture {
   height: 100%;
   width: 100%;

   position: fixed;
   left: 0px;
   top: 0px;
   z-index: -2;
   
   background: rgba( 255, 255, 255, 0.1 );
   background: linear-gradient( to top, rgba( 255, 255, 255, 0 ) 60%, rgba( 255, 255, 255, 0.4 ) );
   /* background-image: url( '../../public/goldengatebridge.jpg' ); */
   background-size: 105vmax;
   opacity: 0.3;

   transition: opacity var( --transition-time, 600ms ) ease-in-out,
               background-size var( --transition-time, 600ms ) ease-in-out,
               background-position var( --transition-time, 600ms ) ease-in-out;
}

@media screen and ( max-width: 768px ) {
   /* Change picture to portrait */
   #background-picture {
      background-image: url( https://images.unsplash.com/photo-1534103362078-d07e750bd0c4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80 );
      background-size: cover;
   }
}

@media screen and ( min-width: 769px ) {
   .home-slider-button:hover {
      opacity: 1;
      box-shadow: 0 0 10px rgba( 255, 255, 255, 0.5 );
   }
}