#timeline-wrapper {
   box-sizing: border-box;
   padding: 0 3em;
   border: 1px solid black;
   background: rgb(0,105,217);
   background: linear-gradient(22deg, rgba(0,105,217,1) 0%, rgba(6,83,213,1) 20%, rgba(15,51,207,1) 61%, rgba(25,16,201,1) 100%);
}

#timeline-content {
   position: relative;
   margin: 0 auto;
   padding: 1em 0;
   
   /* For some reason giving this a border connects the blue line to the top and bottom */
   border: 1px solid transparent;
}

#timeline-content::before {
   content: '';
   position: absolute;
   width: 2px;
   height: 100%;
   background-color: white;
   top: 0;
   left: calc( 50% - 1px );
   z-index: 0;
}

.timeline-event {
   display: flex;
   position: relative;
   width: 100%;
   margin: 1em 0;
}

.timeline-circle {
   position: absolute;
   width: 20px;
   height: 20px;
   background-color: white;
   border-radius: 50%;
   z-index: 1;
   top: 2.2em;
   left: calc( 50% - 10px );
}

.timeline-date-range {
   color: white;
}

.timeline-event-content {
   align-self: flex-end;
   justify-self: flex-end;
   width: 46%;
   color: white;
}

.timeline-event-content > h3 {
   margin-bottom: 0.5em;
}

@media screen and ( min-width: 769px ) {
   /* Implement left and right sides of timeline */
   .timeline-event.right {
      justify-content: flex-end;
   }
   .timeline-event.left {
      justify-content: flex-start;
   }
   
   .timeline-event.left > .timeline-event-content {
      text-align: left;
   }
   .timeline-event.right > .timeline-event-content {
      text-align: left;
   }
   .timeline-event.right > .timeline-date-range {
      text-align: right;
      margin-top: 1.65em;
      margin-right: 8%;
   }
   .timeline-event.left > .timeline-date-range {
      text-align: left;
      margin-top: 1.65em;
      margin-left: 8%;
   }
}


@media screen and ( max-width: 768px ) {
   /* Get rid of left-side padding on parent container */
   #timeline-wrapper {
      width: 90vw;
      padding: 0 1em 0 0;
   }
   
   /* Move the line and circle to the left of the screen */
   #timeline-content::before {
      left: 20px;
   }
   .timeline-circle {
      left: 10px;
   }
   
   /* Allow the content to stretch across the screen */
   .timeline-event-content {
      width: 90%;
      margin-left: 4em;
   }

   /* Add spacing in between events, but not outside of them */
   .timeline-event {
      margin: 2em 0;
   }
   .timeline-event:first-child {
      margin-top: 0;
   }
   .timeline-event:last-child {
      margin-bottom: 0;
   }

   /* Move the date range to be beside the titles and adjust their widths so they both fit */
   .timeline-date-range {
      position: absolute;
      top: 0;
      left: 3.5em;
      margin: 0;
   }
   .timeline-event-content > h2 {
      margin-top: 1em;
   }
}