#root {
   /* Header position is fixed, account for that space by adding margin-top */
   margin-top: 60px;
}

header {
   position: fixed;
   top: 0px;
   left: 0px;
   height: 60px;
   width: 100%;
   z-index: 2;

   display: flex;
   align-items: left;
   justify-content: left;

   background-color: black;
   border-bottom: solid white 1px;
}

.header-link {
   position: relative;
   margin: auto 0;
   margin-left: clamp( 18px, 3vw, 24px );
   
   color: white;
   text-decoration: none;
   font-size: clamp( 30px, 3vw, 46px );
   
   cursor: pointer;
}

#header-right-side {
   margin: auto 0;
   margin-right: clamp( 18px, 3vw, 24px );
   margin-left: auto;
}