body {
   background-color: rgb( 10, 10, 10 );
}

#nfl-stats {
   position: relative;
   left: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

caption {
   margin: 0.5em;
   font-size: 2em;
   font-weight: bold;
   color: white;
}

table {
   padding: 0 0.5em 0.5em 0.5em;
   margin-left: 10px;
   opacity: 0.9;

   background-color: rgb( 30, 30, 30 );
   border: 1px solid white;
   border-radius: 10px;
   box-shadow: 0px 0px 10px rgba( 255, 255, 255, 0.5 );
   border-collapse: collapse;
}

tbody:hover > tr {
   opacity: 0.8;
}
tbody:hover > tr:hover {
   opacity: 0.9;
   background-color: rgb( 10, 10, 10 );
}


th, td {
   font-family: "Cera Round Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
   color: white;
   text-decoration: none;
   cursor: default;
   text-align: center;

   /* transition: transform 10ms ease-in-out,
               background-color 50ms ease-in-out; */
}

th {
   padding: 0.4em;
   font-weight: 700;
}

td {
   background-color: rgb( 0, 0, 0 );
   padding: 0.4em;
}

th:hover {
   background-color: rgb( 70, 70, 70 );
}
td:hover {
   opacity: 1;
}

th:active {
   transform: scale( 0.95 );
}

#nfl-stats-background-picture {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   opacity: 0.5;

   background-image: url( https://static.clubs.nfl.com/image/private/t_editorial_landscape_12_desktop/vikings/dhxicid9fvyrl9dc0rih );
   background-size: cover;
}